@import url('https://fonts.googleapis.com/css?family=Roboto');

#background {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 500px;
  background: linear-gradient(#0061ff,#00a1ff);
}

.graph {
  position: relative;
  padding-top: 5em;
  text-align: center;
}

h1 {
  text-align: left;
  margin: 0 auto;
	padding: 0px 10px;
}

h2 {
  margin: 0 auto;
  width: 900px;
	height: 30px;
  padding: 0px 15px;
  padding-top: 25px;
  background: white;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', sans-serif;
	font-weight: 100;
}

svg {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  background-color: white;
  padding: 10px 20px 20px 10px;
	margin: 0;
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.15);
}

.y-grid line {
	stroke: lightgrey;
	stroke-opacity: 0.7;
	shape-rendering: crispEdges;
}

.y-grid path {
	stroke-width: 0;
}

#tooltip {
  position: absolute;
  text-align: center;
  background: black;
  color: white;
  border-radius: 3px;
  padding: 10px 5px;
  pointer-events: none;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  font-size: 10pt;
}

.desc {
	position: relative;
	margin: 0 auto;
	padding: 5em 15px 3em 15px;
	max-width: 900px;
	margin-bottom: 3em;
}

.key{
	position: relative;
	margin: 0 auto;
	display: flex;
	width: 900px;
	margin-bottom: -3.5em;
	justify-content: flex-end;
}

.key .palette{
	margin-top: 18px;
}

.key p{
	margin-right: 20px;
}

.key #public{
	width: 50px;
	height: 20px;
	background: #fdbe85;
}

.key #private{
	width: 50px;
	height: 20px;
	background: #ff5e00;
}
